/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F5FFFA;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #89A993;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo img {
    width: 60px;
    height: auto;
}

nav.left-nav, nav.right-nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #FFDDC8;
    font-size: 1.25rem;
}

.title {
    flex: 2;
    font-size: 4rem;
    color: #FFDDC8;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Conteúdo do Blog */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 60px;
    margin-top: 40px;
}

.card {
    background-color: #E3F2E8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 40px);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(3n+1) {
    margin-left: 0;
}

.card h3 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    display: block;
    margin: 0 auto 20px;
    max-width: 80%;
    height: auto;
}

.card p {
    flex: 1;
    text-align: justify;
}

.button {
    display: inline-block;
    background-color: #A8D3B5;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #91bf9c;
}

/* Conteúdo do Artigo */
.article-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.article-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.article-container img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.article-container p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.article-container .button {
    display: inline-block;
    background-color: #A8D3B5;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.article-container .button:hover {
    background-color: #91bf9c;
}

/* Rodapé */
footer {
    background-color: #89A993;
    padding: 20px 0;
    color: #000;
    font-size: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.footer-section {
    text-align: center;
}

.footer-section h2, .footer-section a, .footer-logo, .footer-section p {
    margin-bottom: 10px;
}

.footer-logo img {
    width: 60px;
    display: block;
    margin: 10px auto;
}

.footer-section p {
    margin-top: 10px;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    header .container {
        flex-direction: column;
    }

    .title {
        margin: 20px 0;
    }

    nav ul {
        flex-direction: column;
    }

    .card {
        width: calc(50% - 40px);
    }

    .card:nth-child(2n) {
        margin-right: 0;
    }

    .card:nth-child(2n+1) {
        margin-left: 0;
    }

    .article-container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    nav ul {
        gap: 10px;
    }

    .social-icons img {
        width: 30px;
        height: 30px;
    }

    .card {
        width: calc(100% - 40px);
        margin-right: 0;
        margin-left: 0;
    }

    .article-container h1 {
        font-size: 2rem;
    }

    .article-container p {
        font-size: 1rem;
    }
}
