body {
    background-color: #F5FFFA;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('foto\ serviços/mauamu.jpeg');
    background-size: cover;
    background-position: center -2%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    background-color: #89A993;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #FFDDC8;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
    color: #FFDDC8;
    text-align: center;
    flex: 1;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

main {
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

section p {
    max-width: 500px;
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

section h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-bottom: 1%;
}

section h2 {
    color: #3E5650;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

footer {
    background-color: #89A993;
    color: #000;
    font-size: 1rem;
   
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
   
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section a {
    text-decoration: none;
    color: inherit;
}

.footer-section a:hover {
    text-decoration: none;
    background-color: #bedec5;
    border-radius: 2px;
}

.footer-logo img {
    width: 60px;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .logo img {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: 2.5rem;
        margin-top: 10px;
    }

    .intro-text-container, .aromas-text {
        width: 90%;
    }

    .aromas-text p {
        font-size: 1rem;
    }

    .footer-logo img {
        width: 50px;
    }

    section p {
        width: 90%;
    }
}

@media (max-width: 600px) {
    header .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .logo {
        display: none;
    }

    .social-icons {
        display: none;
    }

    nav {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    nav a {
        font-size: 0.875rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .intro-image img, .produtos-container img, .difusores-content img, .aromas img {
        width: 100%;
        height: auto;
    }

    .intro-text-container, .aromas-text {
        width: 90%;
        padding: 1rem;
    }

    .intro-text {
        font-size: 1.25rem;
    }

    .intro-text-2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .produtos-container, .difusores-content {
        flex-direction: column;
        align-items: center;
    }

    .contact p {
        font-size: 1rem;
    }

    .contact .icons img {
        width: 40px;
        height: 40px;
    }

    .footer-container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .footer-logo img {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 30px;
    }

    .left-nav ul, .right-nav ul {
        gap: 10px;
    }

    .footer-logo img {
        right: 0;
        top: 0;
    }
}